<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yixiang.yshop.module.member.dal.mysql.user.ExchangeCodeMapper">
    <select id="selectByCode" resultType="co.yixiang.yshop.module.member.dal.dataobject.user.StoreExchangeCodeDO">
        SELECT * FROM store_exchange_code WHERE code=#{code}
    </select>
    <update id="updateUsed">
        UPDATE store_exchange_code
        SET status=1, use_user_id=#{userId}, used_at=NOW()
        WHERE code=#{code}
    </update>
</mapper>