<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yixiang.yshop.module.member.dal.mysql.user.UserVipMapper">
    <select id="selectByUserId" resultType="co.yixiang.yshop.module.member.dal.dataobject.user.UserVipDO">
        select * from user_vip where user_id = #{userId}
    </select>
</mapper>